h1 {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 800;
}

body {
    text-align: center;
}

ul,
ol,
li {
    background-color: #c49ef0;
    list-style: none;
    font-size: 20px;
}

.description {
    font-size: 20px;
    background-color: #f0ceb2;
    padding: 10px
}

ul,
ol {
    padding: 10px 10px 10px 0px;
}