h1 {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 800;
}

body {
    text-align: center;
}

ul,
ol,
li {
    background-color: #c49ef0;
    list-style: none;
    padding-left: 0px;
    font-size: 20px;
}
